body {
	margin: 0;
	font-family: 'Monoid', serif;
	background: #fdfdfd;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Monoid';
}

@font-face {
	font-family: 'Monoid';
	src: local('Monoid'), url(./fonts/Monoid/Monoid-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'STIXGeneral';
	src: local('STIXGeneral'), url(./fonts/STIXGeneral/STIXGeneralBol.otf) format('truetype');
}

@font-face {
	font-family: 'StencilStd';
	src: local('StencilStd'), url(./fonts/StencilStd/StencilStd.otf) format('truetype');
}
